appdirs 
audioread
backcall==0.2.0
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click==7.1.2
cryptography 
cycler==0.10.0
decorator==4.4.2
Flask==1.1.2
gunicorn==19.3.0
idna 
ipython==7.16.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib
kiwisolver
librosa==0.8.0
llvmlite==0.36.0
MarkupSafe==1.1.1
matplotlib
numba
numpy
OCC==0.0.2.dev20190912195130
olefile
packaging
pandas==1.1.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow
pooch
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser
Pygments==2.8.1
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
pytz==2021.1
requests
resampy==0.2.2
scikit-learn
scipy
seaborn==0.11.1
six
SoundFile==0.10.3.post1
SpeechRecognition
threadpoolctl
tornado
traitlets==4.3.3
urllib3
wcwidth==0.2.5
Werkzeug==1.0.1
